.container {
    width: 100%;
    height: 900px;
    padding-top: 5%;
    width: 100%;
    height: 900px;
    background: white;
}

body {
    margin: 0;
}

.fir {
    margin-left: 35%;
    width: 35%;
    background: white;
    height: 100%;
}

.details {}

.instaLogo {
    padding-top: 30px;
    margin-top: px;
    height: 60px;
}

.idBox {
    width: 270px;
    height: 35px;
    background-color: #fafafa;
    border-width: thin;
    border-color: #ffffff;
    border-width: 0.1px;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #d8d5d5;
}

.idBox::placeholder {
    font-size: small;
    padding-left: 3px;
}

.logN {
    width: 270px;
    height: 25px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 3px;
    border-width: 7px;
    margin-top: 20px;
    background-color: #b4d2ee;
}

.sec {
    width: 75%;
    height: 45%;
    background: #ffffff;
    border-radius: 1px;
    border: 1px solid #dbdada;
    margin-top: 42px;
    margin-left: 4%;

}

.main{
    width: 100%;
    height: 40px;
}

.leftLine {
    padding-top: 15px;
    float: left;
    width: 30%;
    height: 100%;
   
}

.or {
    padding-top: 15px;
    float: left;
    width: 16%;
    height: 100%;
    color: #8e8e8e;
    font-size: 14px;
}

.rightLine {
    padding-top: 15px;
    float: left;
    width: 30%;
    height: 100%;
}

.space {
    float: left;
    height: 100%;
    width: 13%;
}

.loginANdForgot {
    height: 80px;
    width: 100%;
}

.withF {
    padding-left: 10px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #385185;
}

.fIcon {
    padding-left: 40px;
    float: left;
    height: 17px;
}

.forgot {
    padding-left: 100px;
    padding-top: 15px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    background-color: white;
    color: #00376b;
    font-size: 12px;
}

.haveAc {
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #dbdada;
    margin-top: 10px;
    width: 75%;
    margin-right: 79px;
    height: 40px;
}

.altlog {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.link {
    color: #0095f6;

    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.appInst {
    height: 100px;
    width: 100%;
}

.Prom {
    margin-right: 70px;
    font-weight: lighter;
    color: #262626;
}

.appLogo {
    margin-right: 49px;
    height: 45px;
}